.dropZone {
  border: 2px dashed var(--body-text);
  border-radius: 16px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.dropZone--active {
  background-color: var(--pale);
}

.dropZone:hover {
  background-color: var(--pale);
}

.cancelImage {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  padding: 0;
  
  font-size: 12px;
  color: var(--red);
  border: 1px solid var(--gray);
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  transition: 0.3s ease;
}

.cancelImage:hover {
  color: var(--white);
  background: var(--red);
}

.previewImage {
  width: fit-content;
  max-width: 90%;
  max-height: 600px;
  margin-top: 10px;
  border: 1px solid var(--secondary-text);
  border-radius: 8px;

  @media screen and (max-width: 800px) {
    max-width: 100%;
  }
}

.text {
  font-size: 16px;
  font-weight: 500;
}

.text--upload {
  color: var(--body-text);
}

.text-error {
  color: var(--error);
}

.error-margin {
  margin-top: 10px;
}